html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h1, h2, h3, h4 {
  color: #147e4b;
}

#categoriesFilter {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 60%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#category {
  border-collapse: collapse;
  width: 60%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#category th, #category td {
  text-align: left;
  padding: 12px;
}

#category tr {
  border-bottom: 1px solid #ddd;
}

#category tr.header, #category tr:hover {
  background-color: #74cf99;
}

.tiptext {
  background:#ccc;
  border: 1px #333 solid;
  padding:5px;
  width:100px;
}
.description {
  display:none;
  position:absolute;
  border:1px solid #000;
  width:40px;
  height:40px;
}
